<mat-card>
  <mat-card-title>Sign in</mat-card-title>
  <mat-card-subtitle>fill correct data below</mat-card-subtitle>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill"> </mat-form-field><br />

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput name="password" />
        <button mat-icon-button matSuffix></button> </mat-form-field
      ><br />
    </form>
    <mat-card-actions align="end">
      <a mat-flat-button routerLink="/sign-up">sign up</a>
    </mat-card-actions>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
</mat-card>
